@{
	ViewData["Title"] = "Error";
}

<div style="text-align: center; margin-top: 50px;">
    <img src="https://admiral.digital/wp-content/uploads/2023/08/404_page-not-found-1024x576.png" alt="Page Not Found" style="max-width: 100%;" />
    <h2>404 - Page Not Found</h2>
    <p>The requested page could not be found. Please check the URL and try again.</p>
    <div class="text-left h4"> Go back to <a asp-controller="Home" asp-action="Index">Home</a></div>
</div>