@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach (var item in Model.FeaturedItems)
    {
        <div class="d-inline-block m-3">
            <img src="@item.ImageUrl" alt="@item.Title" />
            <h2>@item.Title</h2>
            <p>@item.Description</p>
        </div>
    }
</div>